<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcompanion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Form_data_diabetes"
            android:label="@string/title_activity_form_data" >
        </activity>
        <activity
            android:name=".Form_data_heart"
            android:label="@string/title_activity_form_data_heart" >
        </activity>
        <activity
            android:name=".Form_data_general"
            android:label="@string/title_activity_form_data_general" >
        </activity>
        <activity
			android:name=".Med_Prescrip"
            android:label="@string/title_activity_med__prescrip" >
        </activity>
        <activity
            android:name=".Upload_images"
            android:label="@string/title_activity_upload_images" >
        </activity>
        <activity
            android:name=".BrowsePictureActivity"
            android:label="@string/title_activity_browse_picture" >
		</activity>
		<activity
            android:name=".Form_data_obesity"
            android:label="@string/title_activity_form_data_obesity" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="User Profile Activity" >

        </activity>
    </application>

</manifest>
